/* SASS */
@import "_variables"; 
html { background: $white-color;}
body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
/* Transition definitions */
.transit {

  /* Fix flickering on Chrome and Safari */
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);

 /* Set transition for all properties */
  -webkit-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
   -moz-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
     -o-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
        transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000); /* easeOutCirc */
}

.app-wrapper {
 /*  background: url('./../images/ferry-rain.jpg'); */
  /*width: 100%;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto; 
  position: relative;
  bottom: 0px;*/
  position: fixed;
  top:0;
  right:7%;
  bottom: 0;
  left:7%;

  &:before {
    content: "";
    display: block;
    background: url('./../images/ferry-rain.jpg');
    position: fixed;
    top:0;
    right:0;
    bottom: 0;
    left:0;
    z-index: -1;
  }
  .brand-logo {
    background: $accent-color;
    opacity: .9;
    color: $white-color;
    /*position: absolute;
    top: 0;
    right: 90%;
    bottom: 0;
    left: 5%;*/
  }

  footer {
    background: $dark-primary-color;
    color: $white-color;
    position: absolute;
    top: 95%;
    right: 0;
    bottom: 0;
    left: 0;

    p {
      /*transform: rotate(90deg);
      transform-origin: left top 0;
      float: left;
      width: 100%;
      background: #eee;*/
    }
    
  }
}