@import "./../scss/_variables"; 
.user-area {
  position: absolute;
  top: 0;
  right: -320px;
  bottom: 0;
  background: #C6C8CA;
  width: 320px;
  z-index: 10;

  &.active {
    right: 0;
  }

  .welcome-msg {
    padding: 104px 20px 0;
  }

  .__user-area-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    z-index: 10;
    border-radius: 40px;
    overflow: hidden;
    &:hover {
      transform: rotate(-90deg);
    }
    &:before,
    &:after {
      content: "";
      display: block;
      height: 55px;
      width: 55px;
      position: absolute;
      z-index: 9;
    }
    &:before {
      border-top: 2px solid $primary-color; 
      transform: rotate(45deg);
      top: 11px;
      left: -27px;
    }
    &:after {
      border-bottom: 2px solid $primary-color; 
      left: -27px;
      top: -28px;
      transform: rotate(-45deg);
    }
  }
}