

$dark-primary-color: #455A64;
$primary-color: #666;
$light-primary-color: #658694;
$white-color: #fff;
$accent-color: #7996A2;
$white: #fff;
$black: #000;

$babel: #f5da55;
$react: #61dafb;
$node: #80bd01;
$r2w: #FF1058;