

$dark-primary-color: #455A64;
$primary-color: #607D8B;
$light-primary-color: #CFD8DC;
$white-color: #fff;
$accent-color: #c00;
$white: #fff;
$black: #000;

$babel: #f5da55;
$react: #61dafb;
$node: #80bd01;