/* SASS */
@import "_normalize.scss";
@import "_variables";
@import "_form.scss";
@import url(https://fonts.googleapis.com/css?family=Work+Sans:200);
/* html { background: $primary-color;} */
body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 {
    padding: 20px;
}
a {
  text-decoration: none;
  color: #039BFB;
  &:hover {
    color: $primary-color;
    text-decoration: underline;
  }
}
/* Helper classes */
.align-right {
  float: right;
}

/* Transition definitions */
.transit {

  /* Fix flickering on Chrome and Safari */
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);

 /* Set transition for all properties */
  -webkit-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
   -moz-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
     -o-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
        transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000); /* easeOutCirc */
}

.app-wrapper {
  background: $white;
  position: fixed;
  top:0;
  right:15%;
  bottom: 0;
  left:15%;
  overflow: hidden;
  border-right: 1px solid $light-primary-color;
  border-left: 1px solid $light-primary-color;

  .brand-logo {
    background: $node;
    border: 2px solid $node;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin: 20px;
    cursor: pointer;
    overflow: hidden;
    color: #fff;
    padding: 0;
    span {
      margin-left: -5px;
      line-height: 50px;
      font-weight: 700;
    }
    b {
      margin: 0px 1px;
      font-size: 20px;
      line-height: 50px;
    }
    i {
      margin-left: -5px;
      line-height: 50px;
    }
  }

  nav {
    background: $accent-color;
    position: relative;
    .user-area {
      display: inline-block;
      float: right;
    }
    a {
      display: inline-block;
      padding: 10px 15px;
      text-decoration: none;
      text-transform: uppercase;
      color: #000;
      &:hover {
        background: $dark-primary-color;
        color: $white;
      }
      &.active {
        background: $dark-primary-color;
        color: $white;
      }
    }
  }
  .content {
    position: absolute;
    top: 133px;
    left: 0;
    right: 0;
    bottom: 20px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  footer {
    color: $dark-primary-color;
    position: absolute;
    height: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 20px;

    p {
      font-size: 10px;
      line-height: 2;
    }

  }

  /* arrow */
  .tooltip {
    width: auto;
    position: absolute;
    background: $white;
    border: 1px solid $dark-primary-color;
    border-radius: 4px;
    top: -15px;
    right: 10px;
    padding: 10px;
    opacity: 0;
    z-index: -10;

    &.active {
      top: -47px;
      opacity: 10;
      z-index: 2;
    }

    /* Share defintion for sudo classes */
    &:after,
    &:before {
      top: 100%;
      left: 80%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(136, 183, 213, 0);
      border-top-color: $white;
      border-width: 9px; margin-left: -9px;
    }

    &:before {
      border-color: rgba(194, 225, 245, 0);
      border-top-color: $dark-primary-color;
      border-width: 10px;
      margin-left: -10px;
    }
  }

}
