/* SASS */
@import "_variables"; 
@import url(https://fonts.googleapis.com/css?family=Work+Sans:200);
html { background: $primary-color;}
body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased 
}
/* Helper classes */
.align-right {
  float: right;
}

/* Transition definitions */
.transit {

  /* Fix flickering on Chrome and Safari */
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);

 /* Set transition for all properties */
  -webkit-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
   -moz-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
     -o-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
        transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000); /* easeOutCirc */
}

.app-wrapper {
 background: $light-primary-color;
  position: fixed;
  top:0;
  right:7%;
  bottom: 0;
  left:7%;

  .brand-logo {
    /* background: url(./../images/fitfab_logo_2011.png); */
    background: $node;
    border: 2px solid $node;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin: 20px;
    cursor: pointer;
    overflow: hidden;
    color: #fff;
    span {
      margin-left: -5px;
      line-height: 50px;
      font-weight: 700;
    }
    b { 
      margin: 0px 1px;
      font-size: 20px;
      line-height: 50px;
    }
    i {
      margin-left: -5px;
      line-height: 50px;
    }   
  }
  .user-detail {
    position: absolute;
    width: 160px;
    height: 80px;
    border: 1px solid $white;
    border-radius: 4px;

    &:after {
      content: "";
      display: block;
      transform: rotate(45deg);
      background: pink;
            height: 20px;
      width: 20px;
      position: absolute;
      top: 70px;
      left: 70px;
    } 
  }
  nav {
    background: $accent-color;
    position: relative;
    .user-area {
      display: inline-block;
      float: right;
    }
    a {
      display: inline-block;
      padding: 0 20px;
      text-decoration: none;
      text-transform: uppercase;
      color: $white;
      &:hover {
        background: $white;
        color: $black;
      }
      &.active {
        background: $white;
        color: $black;
      }
    }
  }

  footer {
    background: $dark-primary-color;
    color: $white-color;
    position: absolute;
    height: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 20px;

    p {
      font-size: 10px;
      line-height: 2;
    }
    
  }

  /* arrow */
  .tooltip { 
    width: auto;
    position: absolute; 
    background: $white; 
    border: 1px solid $dark-primary-color; 
    border-radius: 4px;
    top: -15px;
    right: -20px;
    padding: 10px;
    opacity: 0;
    z-index: -1;

    &.active {
      top: -47px;
      opacity: 10;
      z-index: 2;
    }

    /* Share defintion for sudo classes */
    &:after,
    &:before {
      top: 100%; 
      left: 50%; 
      border: solid transparent; 
      content: " "; 
      height: 0; 
      width: 0; 
      position: absolute; 
      pointer-events: none;
    }

    &:after {
      border-color: rgba(136, 183, 213, 0); 
      border-top-color: $white; 
      border-width: 9px; margin-left: -9px;
    }

    &:before {
      border-color: rgba(194, 225, 245, 0); 
      border-top-color: $dark-primary-color; 
      border-width: 10px; 
      margin-left: -10px;
    }
  } 

}